html, body {
    font-family: "Open Sans";
    margin: 0px;
    padding: 0px;
    background-color: #555;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:visited {
    color: #999;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #23527c;
    text-decoration: underline;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.title-bar {
    /* have to override material-ui AppBar position */
    position: fixed !important;
    top: 0px;
    left: 0px;
}

.title-bar-update-container {
    margin-top: 5px;
}

@media only screen and (max-width : 420px) {
    .title-bar-update-container {
        display: none;
    }
}
.title-bar-update-text {
    color: white;
    margin-right: 15px;
    margin-top: 10px;
    display: inline-block;
}

.title-bar-update-button {
    color: white !important; 
    margin-right: 10px;
    width: 150px;
}

.story-group-logo {
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
}

.story-group-container {
    /* override material-ui border radius */
    border-radius: 0px !important;
    margin-bottom: 35px;
    width: 100%;
}

.story-group-inner {
    font-family: "Open Sans";
    margin: 30px;
}

.story-group-header {
    margin-bottom: 20px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.story-group-points {
    display: inline-block;
    font-weight: 200;
    color: #777;
    width: 75px;
}

.story-group-title {
    display: inline-block;
    color: #777;
    max-width: 800px;
}

.story-group-site-name {
    font-family: "Montserrat";
    font-size: 30px;
}

.story-group-stories-container {
    margin-top: 10px;
}